//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.btn {
    display: inline-block;
    width: 150px;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: red;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}